<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form style="text-align: center" th:action="@{/updateReaderByUsernameTwo}" method="post">
    用户名：<input type="text" name="username"><br>
    旧密码：<input type="text" name="oldPassword"><br>
    新密码：<input type="text" name="newPassword"><br>
    <input type="submit" value="提交"><br>
</form>
</body>

</html>